:root {
  --spin-duration: 1s;
}

.latex3d {
  --theta: -0.05turn;
  --untheta: calc(-1 * var(--theta));
  display: inline-block;
  font: 1.21em KaTeX_Main,Times New Roman,serif;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(0.1turn) rotateY(var(--theta));
  transition: transform var(--spin-duration) linear;

  &.magenta {
    color: #dc267f;
  }
  &.orange {
    color: #fe6100;
  }
  &.tan {
    color: #ffb000;
  }

  div {
    position: absolute;
    transition: transform var(--spin-duration) linear;
  }
}
