:root {
  --spin-period: 20s;
  --tilt: 0.1turn;
}

.latex3d {
  display: inline-block;
  position: relative;
  left: -0.5em;
  transform-style: preserve-3d;
  animation: tilted-spin var(--spin-period) linear infinite;

  &.magenta {
    color: #dc267f;
  }
  &.orange {
    color: #fe6100;
  }
  &.tan {
    color: #ffb000;
  }

  /* not using classnames for these entry divs because there's a ton of them */
  div { /* outer div has inline transform:translate3d(...) */
    position: absolute;
    transform-style: preserve-3d;

    div { /* inner div to (un-)animate transform:rotateY() without interfering with outer transform */
      width: 1em;
      text-align: center;
      transform-origin: 0 0 0;
      animation: un-spin var(--spin-period) linear infinite;
    }
  }

  &.flat {
    transform: rotateX(var(--tilt));
    animation: none;
    div {
      div {
        animation: none;
      }
    }
  }
}

@keyframes tilted-spin {
  from {
    transform: rotateX(var(--tilt)) rotateY(0turn);
  }
  to {
    transform: rotateX(var(--tilt)) rotateY(-1turn);
  }
}

@keyframes un-spin {
  from {
    transform: rotateY(0turn);
  }
  to {
    transform: rotateY(1turn);
  }
}
